name: Unit Code
on:
 pull_request:
   branches: [ main ]
jobs:
 lint:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v2
     - name: Setup Node.js
       uses: actions/setup-node@v2
       with:
         node-version: '16'
     - name: install dependences 
       run: npm install
     - name: run test
       run: npm run test